* {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis; }

body {
  font-family: 'Gaegu', cursive;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  background-color: #191d1e; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.container {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  margin-top: 20px; }
  @media (max-width: 1000px) {
    .container {
      display: block; } }

.left {
  width: 65%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8), 3px 0 5px rgba(0, 0, 0, 0.8); }
  .left iframe {
    height: 100%;
    width: 100%; }
  @media (max-width: 1000px) {
    .left {
      width: 100%;
      height: 65vh; } }

.right {
  box-sizing: border-box;
  width: 30%;
  height: 65vh;
  overflow: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8), 2px 0 5px rgba(0, 0, 0, 0.8);
  padding: 10px; }
  @media (max-width: 1000px) {
    .right {
      width: 100%;
      height: auto;
      margin-top: 20px; } }
  .right h3 {
    color: #ddd;
    text-align: center;
    margin: 0;
    margin-top: 5px; }
  .right .f-box {
    color: #ddd;
    box-sizing: border-box;
    background-color: #191d1e;
    animation-duration: 2s;
    position: relative;
    overflow: auto;
    padding-left: 10px;
    padding-right: 30px;
    cursor: pointer;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.8), 1.5px 0 5px rgba(0, 0, 0, 0.8); }
    .right .f-box i {
      margin-right: 10px; }
    .right .f-box > span.cross {
      color: #000;
      height: 17px;
      font-weight: bold;
      width: 17px;
      background-color: #999;
      line-height: 17px;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      box-shadow: 0 2px 5px #000, 2px 0 5px #000;
      right: 8px;
      top: 25%; }
    .right .f-box > span.cross:active {
      box-shadow: none; }
  .right .f-box:active {
    box-shadow: none;
    box-shadow: 0 0.1px 1px rgba(0, 0, 0, 0.8), 0.1px 0 1px rgba(0, 0, 0, 0.8); }

.topFix {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  background-color: #191d1e;
  position: fixed;
  top: 0;
  z-index: 50; }
  .topFix h1 {
    color: #fff;
    margin: 0; }

.f-form {
  height: 20px;
  min-width: 200px;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #bbb;
  outline-color: rgba(0, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.f-form:hover {
  opacity: 0.8; }

.f-btn {
  height: 30px;
  border: 1px solid #bbb;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 12px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

.f-btn:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.f-btn:active {
  opacity: 0.9;
  box-shadow: none; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.swal-modal {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid #555; }

.swal-title {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px; }

.swal-text {
  display: block;
  text-align: center;
  color: #ddd; }

.swal-button--confirm {
  background-color: #191d1e; }

.swal-button--danger:active {
  background-color: #30383a; }

.swal-button--danger:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(116, 136, 150, 0.29); }

/*# sourceMappingURL=main.css.map */
