* {
  transition: 0.2s;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  background-color: #dedede;
  font-size: 1.1em;
  color: #333; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #333; }

::-webkit-scrollbar-thumb {
  background: #c5c5c5; }

::-webkit-scrollbar-thumb:hover {
  background: #929292; }

.containTheme {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 4%; }
  .containTheme .switch {
    transition: 0.3s;
    margin-left: 10px;
    width: 35px;
    height: 15px;
    background-color: #fff;
    border-radius: 15px;
    padding: 3px;
    cursor: pointer;
    position: relative; }
    .containTheme .switch #dot {
      position: absolute;
      transition: 0.3s;
      margin-right: 3px;
      width: 15px;
      height: 15px;
      background-color: #c5c5c5;
      border-radius: 50%; }

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
  width: 95%;
  margin: auto;
  margin-top: 20px; }
  @media (max-width: 1000px) {
    .container {
      display: block; } }

.left {
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  width: 65%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3), 3px 0 5px rgba(0, 0, 0, 0.3); }
  .left > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 70px; }
  .left iframe {
    height: 100%;
    width: 100%; }
  @media (max-width: 1000px) {
    .left {
      width: 100%;
      height: 60vh; } }
  .left #title {
    font-family: 'Eczar', serif;
    text-transform: uppercase; }
    .left #title i {
      font-size: 0.8em; }

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 80vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 2px 0 5px rgba(0, 0, 0, 0.3); }
  @media (max-width: 1000px) {
    .rightContainer {
      width: 100%;
      height: auto;
      margin: 20px 0; } }
  .rightContainer h3 {
    font-family: 'Eczar', serif;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0; }
  .rightContainer .right {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -2px 5px rgba(0, 0, 0, 0.3);
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 0 10px; }
    .rightContainer .right .f-box {
      transition: 0ms;
      box-sizing: border-box;
      background-color: #dedede;
      animation-duration: 2s;
      position: relative;
      overflow: auto;
      padding-left: 10px;
      padding-right: 30px;
      cursor: pointer;
      width: 100%;
      margin: auto;
      margin-top: 20px;
      height: 50px;
      line-height: 50px;
      border-radius: 2px;
      display: inline-block;
      box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.3), 1.5px 0 5px rgba(0, 0, 0, 0.3); }
      .rightContainer .right .f-box i {
        margin-right: 10px; }
      .rightContainer .right .f-box > span.cross {
        color: #000;
        height: 17px;
        font-weight: bold;
        width: 17px;
        background-color: #999;
        line-height: 17px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 2px 0 5px rgba(0, 0, 0, 0.3);
        right: 8px;
        top: 16px; }
      .rightContainer .right .f-box > span.cross:active {
        box-shadow: none; }
    .rightContainer .right .f-box:active {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(0, 0, 0, 0.3) !important; }

.title {
  text-transform: capitalize; }

.topFix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  line-height: 60px;
  box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 50; }
  .topFix h1 {
    font-family: 'Eczar', serif;
    margin: 0;
    font-size: 2em; }
    .topFix h1 i {
      font-size: 0.7em; }
  .topFix-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 600px; }
    @media (max-width: 1000px) {
      .topFix-right {
        display: none; } }

.f-form {
  height: 20px;
  width: 250px;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #bbb;
  outline-color: rgba(0, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.f-form:hover {
  opacity: 0.9; }

.f-btn {
  text-transform: uppercase;
  font-family: inherit;
  line-height: 28px;
  border: 1px solid #bbb;
  background-color: #333;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

.f-btn:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.f-btn:active {
  opacity: 0.9;
  box-shadow: none; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.dwnbtn {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 12px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

.dwnbtn:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.dwnbtn:active {
  opacity: 0.9;
  box-shadow: none; }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.swal-modal {
  opacity: 0.5;
  border: 3px solid #555; }

.swal-icon--success:after,
.swal-icon--success:before,
.swal-icon--success__hide-corners {
  background: transparent; }

.swal-title {
  margin: 0px;
  font-size: 16px;
  margin-bottom: 28px; }

.swal-text {
  display: block;
  text-align: center; }

.swal-button--danger:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(116, 136, 150, 0.29); }

.fa-play-circle {
  display: none; }

/*# sourceMappingURL=main.css.map */
